/* 标题标签 */
.tag-title {
    position: relative;
    background-color: #eaeaea;
    padding: 4px 20px;
    width: 1000px;
    font-weight: bold;
    font-size: 14px;
    margin: 20px 0;
}

.tag-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f3a500;
    width: 8px;
    height: 100%;
}

.tips {
    color: #f56c6c;
    font-size: 12px;
    position: relative;
    padding-left: 45px;
}

.tips ol,
.tips ul {
    padding-inline-start: 15px;
}

.tips ol li,
.tips ul li {
    padding: 3px 0;
}

.tips.usage {
    color: #333;
    padding-left: 60px;
}

.tips::before {
    content: 'Tips:';
    background-color: #f56c6c;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    display: inline-block;
    position: absolute;
    font-weight: bold;
    left: 0;
    top: 0;
}

.tips.usage::before {
    content: 'Usage:';
    background-color: #4d9ff0;
}
