:root {
    --green: #2CBFBE;
    --grey: #dcd9d9;
}

.form-wrapper {
    display: inline-block;
    background-color: var(--green);
    border-radius: 5px;
    font-size: 0;
    & .form-desc {
        float: left;
        padding: 0 9px;
        font-size: 15px;
        color: #fff;
    }
    & .form-box {
        float: left;
        height: 100%;
        min-width: 90px;
        background-color: #fff;
        border-radius: 4px;
    }
}