/* Android和ios平台icon */
.image-icon::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: -5px;
}
.image-icon.android::before {
    background-image: url('~@images/android.png');
}
.image-icon.ios::before {
    background-image: url('~@images/ios.png');
}
.image-icon.danger::before {
    background-image: url('~@images/danger.png');
}

/* 状态信息icon */
.status-icon::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    left: -5px;
    background-color: aquamarine;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.status-icon.normal::before {
    background-color: #17f3a9;
}
.status-icon.warning::before {
    background-color: #f7b23a;
}
