/* 文档容器布局 */
.doc-container {
    height: 100%;
    padding-left: 250px;
    position: relative;
    & .left-region {
        position: absolute;
        overflow: auto;
        border-right: 1px solid #e0e0e0;
        left: 0;
        top: 0;
        width: 250px;
        height: 100%;
        & .directory-tree {
            width: 100%;
        }
    }
    & .right-region {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}

/* 统一滚动条风格 */
.common-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}
.common-scrollbar::-webkit-scrollbar-thumb {
    background-color: #999;
}
.common-scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
}
