/* start 容器布局样式 */

.el-header {
    background-color: #2d0d52;
    text-align: center;
    height: 110px!important;
}

.el-main {
    background-color: #E9EEF3;
    background: url('./assets/images/bj.png') repeat;
    color: #333;
    text-align: center;
}


/* end 容器布局样式 */


/* start 滚动条样式 */

.el-main::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #edf0f3;
}

.el-main::-webkit-scrollbar-track {
    background-color: #edf0f3;
}

.el-main::-webkit-scrollbar-thumb {
    background-color: #2d0d52;
}


/* end 滚动条样式 */