/* 默认按钮 */

.el-button--default {
    color: #000;
    background-color: #fff;
    border-color: #D3D3D3;
}

.el-button--default:focus,
.el-button--default:hover {
    background: #dee1e4;
    border-color: #D3D3D3;
    color: #3a3a3a;
}


/* 主要按钮 */

.el-button--primary {
    color: #fff;
    background-color: #4d9ff0;
    border-color: #4d9ff0;
}

.el-button--primary:focus,
.el-button--primary:hover {
    background: #5796d4;
    border-color: #5796d4;
    color: #e6e6e6;
}


/* 成功按钮 */

.el-button--success {
    color: #fff;
    background-color: #2cbfbe;
    border-color: #2cbfbe;
}

.el-button--success:focus,
.el-button--success:hover {
    background: #28acab;
    border-color: #28acab;
    color: #e6e6e6;
}


/* 信息按钮 */

.el-button--info {
    color: #000;
    background-color: #e7eaed;
    border-color: #e7eaed;
}

.el-button--info:focus,
.el-button--info:hover {
    background: #d0d3d6;
    border-color: #d0d3d6;
    color: #fff;
}


/* 警告按钮 */

.el-button--warning {
    color: #fff;
    background-color: #ff9d02;
    border-color: #ff9d02;
}

.el-button--warning:focus,
.el-button--warning:hover {
    background: #e68e02;
    border-color: #e68e02;
    color: #e6e6e6;
}


/* 危险按钮 */

.el-button--danger {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
}

.el-button--danger:focus,
.el-button--danger:hover {
    background: #dc6161;
    border-color: #dc6161;
    color: #e6e6e6;
}