<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <!-- 引入样式 -->
        <% for(var css of htmlWebpackPlugin.options.static.styles) { %>
        <link rel="stylesheet" href="<%=css%>" />
        <% } %>
        <!-- 引入js -->
        <% for(var js of htmlWebpackPlugin.options.static.scripts) { %>
        <script src="<%=js%>"></script>
        <% } %>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="root" style="height:100%;width: 100%;"></div>
    </body>
</html>
