@import '@vBaseComponent/them/theme-green/theme-green.css';
@import '@vBaseComponent/them/theme-green/variables.css';
.electric-dialog-mask {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    overflow: auto;
    & .electric-dialog-content__wrapper {
        position: absolute;
        box-shadow: var(--boxShadow);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: var(--white);
        border-radius: var(--borderRadius);
        font-size: 0;
        min-width: 300px;
        & .electric-dialog-close-btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 35px;
            width: 35px;
            cursor: pointer;
            background-color: var(--primary);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVQ4T62TsWoCYRCEvyl8I0sFqzRiwEZOiOl8gVTp8wLp7VTQSgVJZ5EqpMg7jSz8B5fzTjzu/nL/nZnd2V3R8qklnm4JbL8Bv5J+qiqzPQD6kj7z/38V2J4DK+CpTGJ7BJyBpaR9JUEEbWeJZCLpO8UC/AW8SDoWq6v0wPYU2AJjoAccgNcyOIhqTUwkm5QzkxQV3Lx7BKGe95o1Ikjqa2CSJMO8x1oo9t/YRNvPwC7My8F504UxLiSd6vbgHfiTdKlZpBjnUNJH7R40vY1ub6GpeuRfAS4tUBGEuPcFAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;
        }
        & .electric-dialog-close-btn:hover {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/ElEQVQ4T62TsUoEQQyGkx+u38y+ypUKVjaHBzZygtr5Alb2voC9nQpepYJcZ2ElFr7KJk+wGYnswnnMgsvdlJnkS/5/JkxbHt6ynnYLaJrmioi+6rr+LE2mqnvMPBWR2/7+zwSqeppzviOiw02ImR24+xszX6aUlkVABFV1ERAARyLyEbGueAXgTERe1qcremBmx+7+CGDGzJO2bZ8BXGwWB2jQxA7yEDnMfJJSWpV8GQSo6izn/KuVmRejAF33+/AhAGHevyWs6x9topnN3f0pzOuLe939MwI4F5HXoX9wDeC7qqr3kmEBIaJ9EbkZ/Adjd2O3uzC2e+T/AHsYehETJYqAAAAAAElFTkSuQmCC);
            background-color: var(--buttonDustyGreen);
        }
        & .electric-dialog-title {
            padding: 12px 15px;
            width: 100%;
            box-sizing: border-box;
            background: var(--lightGray);
            border-bottom: 1px solid var(--borderColor);
            font-family: var(--fontFamily);
            font-weight: bold;
            font-style: normal;
            font-size: 18px;
            color: var(--primary);
            text-align: left;
        }
        & .electric-dialog-content {
            display: inline-block;
            overflow: auto;
            padding: 20px 20px 20px 0;
            font-size: 14px;
            & .electric-dialog-content-message {
                height: 100%;
                padding-left: 50px;
                display: table;
                & i {
                    position: fixed;
                    top: 50%;
                    left: 25px;
                    transform: translate(-50%, -50%);
                    font-size: 30px;
                }
                & i.el-icon-info {
                    color: var(--buttonDustyBlue);
                }
                & i.el-icon-warning {
                    color: var(--buttonDustyYellow);
                }
                & i.el-icon-success {
                    color: var(--buttonDustyGreen);
                }
                & i.el-icon-error {
                    color: var(--buttonDustyRed);
                }
                & span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        & .electric-dialog-footer {
            padding: 10px 15px;
            width: 100%;
            /* line-height: 35px; */
            text-align: right;
            border-top: 1px solid var(--borderColor);
            box-sizing: border-box;
            background: var(--lightGray);
        }
    }
}
