.source {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #ebebeb;
    background-color: #f7f7f7;
    border-radius: 3px;
    transition: .2s;
    width: 500px;
    height: 230px;
    padding: 24px;
}

.demo-form.demo-zh-CN .line {
    text-align: center;
}