/* start logo区域 */

.logo {
    position: relative;
    display: block;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 45px;
    color: #03bd82;
    padding-left: 75px;
}

.logo .text {
    background: -webkit-linear-gradient(#03bd82, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo .favicon {
    position: absolute;
    display: inline-block;
    height: 75px;
    width: 75px;
    background-image: url('./assets/images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    transform: translateX(-100%);
}