@import '@vBaseComponent/them/theme-green/variables.css';

.infinity-multi-level-table >>> thead {
    color: var(--white);
}

.infinity-multi-level-table >>> thead th,
.infinity-multi-level-table >>> .el-table__fixed-right-patch {
    background-color: var(--primary);
}

/* 表格选择器颜色 */

.infinity-multi-level-table >>> .el-checkbox__input.is-checked .el-checkbox__inner,
.infinity-multi-level-table >>> .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #4d9ff0;
    background: #4d9ff0;
}

.infinity-multi-level-table >>> .hover-row > td {
    background-color: #fff;
}

.infinity-multi-level-table >>> .custom-column {
    padding: 0;
}
.infinity-multi-level-table >>> .custom-column > div.cell {
    padding: 0;
}

/* 内嵌的表格 */
.infinity-multi-level-table .embedded-table >>> .el-table__header-wrapper {
    display: none;
}

.infinity-multi-level-table .embedded-table >>> .el-table__body-wrapper tbody .el-table__row td:last-child {
    border-right-width: 0;
}

.infinity-multi-level-table .embedded-table >>> .hover-row > td {
    background-color: #fff;
}

/* 统一成协作平台滚动条 */

.infinity-multi-level-table >>> .el-table__body-wrapper::-webkit-scrollbar {
    width: 17px;
    background-color: var(--scrollbarLightGray);
}

.infinity-multi-level-table >>> .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--thumbLightGray);
}

.infinity-multi-level-table >>> .el-table__body-wrapper::-webkit-scrollbar-track {
    background-color: var(--trackLightGray);
}

/* 一些表格底部的边框 */
/* .embedded-table>>>.el-table__body-wrapper tbody .el-table__row:last-child td {
    border-bottom-width: 0;
} */

/* 展开的表格 */
.expand-table >>> thead {
    color: #606266;
}

.expand-table >>> thead th,
.expand-table >>> .el-table__fixed-right-patch {
    background-color: var(--white);
}
